.graph-container.col-md-8.col-md-offset-2
  %h1.text-center= "#{Date.current.strftime('%B %Y')} Transactions"
  %h1.text-center= number_to_currency(@transactions.current_month.total)

  = render 'month_transaction_graph'

.graph-container.col-md-5.col-md-offset-1
  %h1.text-center By Payment Method
  = render 'by_payment_method'

.graph-container.col-md-5
  %h1.text-center By Category
  = render 'by_category'
