<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">Date</th>
      <th class="col-md-3">Description</th>
      <th class="col-md-2">Amount</th>
      <th class="col-md-2">Category</th>
      <th class="col-md-3">Payment Method</th>
      <th class="col-md-1">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= formatted_date(expense.date) %></td>
        <td><%= expense.description %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.category.title %></td>
        <td><%= expense.payment_method.name %></td>
        <td>
          <span class="col-md-6"><%= link_to fa_icon("pencil-square-o", class: "fa-2x"), edit_expense_path(expense) %></span>
          <span class="col-md-6"><%= link_to fa_icon("trash-o", class: "fa-2x"),
            expense,
            method: :delete,
            data: {confirm: "Are you sure?"}
            %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
