<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-1">Date</th>
      <th class="col-md-3">Description</th>
      <th class="col-md-1">Amount</th>
      <th class="col-md-3">Payment Method</th>
      <th class="col-md-2">Category</th>
      <th class="col-md-2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= formatted_date(expense.date) %></td>
        <td><%= expense.description %></td>
        <td><%= number_to_currency(expense.amount) %></td>
        <td><%= expense.payment_method.name %></td>
        <td><%= expense.category.title %></td>
        <td>
          <span class="col-md-4">
            <%= link_to inline_svg("edit.svg", title: 'Edit'), edit_expense_path(expense) %>
          </span>
          <span class="col-md-4">
            <%= link_to inline_svg("delete.svg", title: 'Delete'),
                  expense,
                  method: :delete,
                  data: {confirm: "Are you sure?"}
                %>
          </span>
          <span class="col-md-4"></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
