<div class="col-md-2 col-md-offset-5">
  <%= simple_form_for @expense do |f| %>
    <%= f.input :date, as: :date %>
    <%= f.input :description %>
    <%= f.input :amount %>
    <% if current_user.payment_methods.reject(&:default_payment_method?).blank? %>
      <%= link_to "Add New Payment Method", new_payment_method_path(current_user) %>
    <% else %>
      <%= f.association :payment_method,
            collection: current_user.payment_methods.all,
            selected: PaymentMethod::DEFAULT_PAYMENT_METHOD
      %>
    <% end %>
    <% if current_user.categories.blank? %>
      <%= link_to "Add A New Category", new_category_path(current_user) %>
    <% else %>
      <%= f.association :category,
            collection: current_user.categories.all,
            selected: Category::DEFAULT_CATEGORY
      %>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
