<div class="col-md-2 col-md-offset-5">
  <%= simple_form_for @expense do |f| %>
    <%= f.input :date, as: :date %>
    <%= f.input :description %>
    <%= f.input :amount %>
    <% if current_user.categories.blank? %>
      <%= f.label "Category" %>
      <%= link_to "Add New Category", new_category_path(current_user) %>
    <% else %>
      <%= f.association :category,
            collection: current_user.categories,
            selected: (@expense.category_id || current_user.default_category),
            value_method: :id
      %>
    <% end %>
    <% if current_user.payment_methods.blank? %>
      <%= f.label "Payment method" %>
      <%= link_to "Add New Payment Method", new_payment_method_path(current_user) %>
    <% else %>
      <%= f.association :payment_method,
            collection: current_user.payment_methods,
            selected: (@expense.payment_method_id ||
                       current_user.default_payment_method),
            value_method: :id
      %>
    <% end %>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
