<!DOCTYPE html>
<html>
  <head>
    <title>ExpenseTracker</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render partial: "pages/navbar" %>
    <% if user_signed_in? %>
      <%= render partial: "pages/sub_navbar" %>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
